<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 card">
      <h3>Login</h3>
      <hr>
      <form novalidate>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="user_id">Email</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="password">Senha</label>
            <input type="password" id="password" class="form-control">
          </div>
        </div>
        <button type="button" class="btn btn-primary form-control">Entrar</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>