<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary mgb-50" [routerLink]="['/maquinas', 'nova']">
      <span class="oi oi-plus" title="plus" aria-hidden="true"></span>
      Adicionar máquina
    </button>
    <h3>Máquinas</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maquina of maquinas">
          <td>{{ maquina.name }}</td>
          <td>
            <app-buttons-table></app-buttons-table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>