/* You can add global styles to this file, and also import other style files */

hr {
  margin-bottom: 20px;
}

table {
  margin-top: 50px;
}

table thead tr th:last-child {
  text-align: center;
}

table tbody tr td:last-child {
  text-align: center;
}

.mgb-50 {
  margin-bottom: 50px;
}